# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local
*.env.local

# Build output
.next/
out/
dist/
build/

# Testing
coverage/
.vscode/
.idea/
.DS_Store

# Cache
.next/cache/
.cache/
.tmp/
*.tsbuildinfo

# OS files
Thumbs.db
*.swp

# MongoDB local database dumps
dump/

# Optional package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
